<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayao.cloudstorage.mapper.UserEntityMapper">
  <resultMap id="BaseResultMap" type="com.dayao.cloudstorage.entity.UserEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="joindate" jdbcType="VARCHAR" property="joindate" />
    <result column="lastdate" jdbcType="VARCHAR" property="lastdate" />
    <result column="capacity" jdbcType="INTEGER" property="capacity" />
  </resultMap>
    <select id="userList"  resultType="com.dayao.cloudstorage.entity.UserEntity">
      SELECT * FROM t_user
    </select>

  <select id="addUser" parameterType="com.dayao.cloudstorage.entity.UserEntity" resultType="com.dayao.cloudstorage.entity.UserEntity">
      INSERT INTO t_user (username,realname,email,password,joindate,lastdate,capacity)  VALUES (#{username},#{realname},#{email},#{password},#{joindate},#{lastdate},#{capacity})
  </select>

  <select id="getUserByname" parameterType="String"  resultType="com.dayao.cloudstorage.entity.UserEntity">
      SELECT * FROM t_user WHERE username = #{username}
  </select>

</mapper>